.header {
  width: 100%;

  .content-wrapper {
    background: linear-gradient(90deg, #f6e3fd 0%, #e5f6fa 50%, #f2e0f5 100%);
  }
  .content-about {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    gap: 16px;
    max-width: var(--screenwidth);

    .title-about {
      margin-top: 1rem;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 120%;
      /* identical to box height, or 48px */

      letter-spacing: 0.01em;
      color: #09031c;
    }

    .descrition-about {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 130%;
      color: rgba(9, 3, 28, 0.9);
    }
  }

  .DescriptionPages {
    margin: 48px auto;
    max-width: var(--screenwidth);
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    .row2 {
      display: flex;
      gap: inherit;
    }
  }
}

.template {
  max-width: var(--screenwidth);
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(108, 64, 234, 0.06);
  padding: 32px;
  border-radius: 1rem;

  article {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1380px;

    h4 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */

      color: #09031c;
    }

    .template_1 {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }
    .sub {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      border-left: 2px solid #5927a9;
      color: #5927a9;
      padding-left: 12px;
      color: rgba(9, 3, 28, 0.8);
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      margin-top: 16px;
      /* or 21px */

      color: rgba(9, 3, 28, 0.8);
    }
    .paragraph {
      max-width: 60%;
      a {
        text-decoration: none;
        color: var(--purple-200);
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1024px) {
  .DescriptionProject {
    .Imagem {
      display: none;
    }
  }
}

@media (max-width: 1600px) {
  .header {
    .content-about {
      margin-left: 32px;
    }
    .DescriptionPages {
      margin: 48px 32px;
    }
    .Colaboration {
      margin: 0 32px;
    }
  }
  .template {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 768px) {
  .row2 {
    flex-direction: column;
  }
}
