.JMSection {
  max-width: var(--screenwidth);
  margin: var(--section-margin) auto;
}

.Items-JM {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(366px, 1fr));
  gap: 1rem;
}
