.ItemVerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 16px;
  width: 100%;
  background: #fcfdfd;
  border-radius: 12px;

  .check {
    display: flex;
    gap: 4px;
    font-family: "Inter";
    align-items: center;

    label {
      display: flex;
      max-width: 1024px;
      margin: 0 auto;
      color: rgba(9, 3, 28);
    }
  }
  &:hover {
    outline: 1px solid rgba(9, 3, 28, 0.04);
    background-color: rgba(255, 255, 255);
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    > svg {
      color: var(--purple-100);
    }
    :hover {
      color: var(--purple-200) !important;
    }
  }
}
