* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  //Cores
  --background: #f1f2f3;
  --purple-100: #6c40ea;
  --purple-200: #5500df;
  --toastify-color-progress-light: #5500df;

  //spaces
  --screenwidth: 1536px;
  --section-margin: 72px;
  --header-height: 60px;

  //breakpoint
  --large: 1366px;
  --small: 430px;
}
.Toastify__progress-bar {
  background-color: #5500df;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  min-height: 100vh;

  ::selection {
    background: #8e6cef;
    color: #fff;
  }
  ::-moz-selection {
    background: #1f6a8f;
    color: #fff;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  &::-webkit-scrollbar-thumb:active {
    background: #5500df;
  }
}

body,
button {
  font-family: "Inter", sans-serif;
}

h5 {
  font-family: "Inter";
}

.Main {
  min-height: calc(100vh - (var(--header-height)));
}
