.UXSection {
  max-width: var(--screenwidth);
  margin: var(--section-margin) auto;
}

#items-responsive {
  display: none;
}

.Items-UX {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  flex-wrap: wrap;
  gap: 1rem;
  a {
    text-decoration: none;
  }
}

@media (max-width: 1366px) {
  .UXSection {
    margin-left: 40px;
    margin-right: 40px;
  }
  #items-responsive {
    display: grid;
  }
  .Items-UX {
    display: none;
  }
}

@media (max-width: 430px) {
  .Items-UX {
    max-width: 100%;
  }
}
