.DescriptionProject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(108, 64, 234, 0.06);
  padding: 32px;
  border-radius: 1rem;

  article {
    max-width: 900px;
    width: 100%;
    h4 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */

      color: #09031c;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      margin-top: 16px;
      /* or 21px */

      color: rgba(9, 3, 28, 0.8);
    }
  }
}
