.MHSection {
  max-width: var(--screenwidth);
  margin: var(--section-margin) auto;
}

.Items-MH {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(366px, 1fr));
  gap: 1rem;
  flex-wrap: wrap;
  a {
    text-decoration: none;
  }
}

@media (max-width: 1366px) {
  .MHSection {
    margin-left: 40px;
    margin-right: 40px;
  }
}
